main {
	width: 100vw;
	height: 100vh;
	/* background-color: bisque; */
	background-color: var(--bgc-secondary);
	color: var(--color-primary);

	display: flex;
	flex-direction: column;
	justify-content: space-between;
    overflow: hidden;
}
body {
	/* width: 100vw; */
	height: 60vh;
}
.img-container {
	display: grid;
	grid-template-columns: repeat(8, 1fr); 
	grid-template-rows: repeat(5, 1fr); 
	/* gap: 10px; */
}
.item {
	background-color: rgba(0, 0, 0, 0.404);
	/* padding: 5px; */
	border: 1px solid white;
	width: fit-content;
}
.img-container img {
	width: 140px;
}
